.title-detail {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 1.5px;
  color: #fff;
}

.navbar {
  min-height: 80px;
  font-family: "Roboto", sans-serif;
  background: #0D1B2B !important;
}

.navbar .navbar-brand {
  font-family: "Playfair Display";
  font-size: 24px;
  letter-spacing: 1.5;
}

.navbar .navbar-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-nav .active {
  font-weight: 500;
  color: #fff;
}

.navbar .btn-signup {
  background: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.navbar .btn-login {
  background: #58B862;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.banner {
  background: #0D1B2B;
  margin-top: 80px;
  max-height: 468px;
}

.banner .carousel-control-next-icon {
  background-image: url(/frontend/images/ic/arrow-right.svg);
  background-size: 55px;
  border-radius: 50%;
}

.banner .carousel-control-prev-icon {
  background-image: url(/frontend/images/ic/arrow-left.svg);
  background-size: 55px;
  border-radius: 50%;
}

.banner .carousel-item h1 {
  font-family: "Playfair Display";
  font-size: 48px;
  letter-spacing: -1.5;
}

.banner .carousel-item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  letter-spacing: 0.02em;
  color: #000000;
}

.section-catatan-investor h2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.section-catatan-investor p.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.section-catatan-investor .btn-cari {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.section-catatan-investor .btn-cari :focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-catatan-investor .btn-cari button {
  background-color: #58B862;
  outline: 0;
  border: 0;
  width: 200px;
  height: 44px;
  left: 816px;
  top: 697px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

.section-catatan-investor a.btn-buat {
  width: 198px;
  height: 50px;
  left: 608px;
  top: 781px;
  background: #58B862;
  border-radius: 15px;
  padding: 12px 36px 12px 36px;
  -webkit-filter: drop-shadow(2px 5px 7px rgba(88, 184, 98, 0.47));
          filter: drop-shadow(2px 5px 7px rgba(88, 184, 98, 0.47));
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.section-catatan-investor .card-catatan {
  margin-top: 70px;
}

.section-catatan-investor .card-catatan .card .card-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1;
}

.section-catatan-investor .card-catatan .card span.nama-penulis {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #707070 !important;
}

.section-catatan-investor .card-catatan .card .card-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.section-catatan-investor .card-catatan .card .btn-baca {
  height: 50px;
  border: 2px solid #58B862;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.section-catatan-investor .card-catatan .card :hover {
  background-color: #0D1B2B;
  color: #fff;
}

.section-catatan-investor .card-catatan .card :hover .btn-baca {
  background-color: #58B862;
  color: #fff;
}

.section-catatan-investor .page-link {
  color: #58B862 !important;
}

footer {
  background-color: #0D1B2B;
  padding: 30px 0px 30px 0px;
}

footer .navbar-brand {
  color: #FFFFFF;
  font-family: "Playfair Display";
  font-size: 24px;
}

footer .nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

footer .copyright {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.section-create-catatan {
  margin-top: 100px;
}

.section-create-catatan .title h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 27px;
}

.section-create-catatan .title p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
}

.section-create-catatan .form-catatan {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
}

.section-create-catatan .form-catatan label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}

.section-create-catatan .btn-success {
  background-color: #58B862 !important;
  outline: none;
  border: none;
}

.section-create-catatan .btn-success:hover {
  background-color: #266b2d !important;
}

.section-create-catatan .btn-batal {
  border: 1.5px solid #58B862;
}

.section-create-catatan .btn-batal:hover {
  background: #ececec !important;
}

.breadcrumb {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
}

.breadcrumb .breadcrumb-item a {
  color: #58B862;
  text-decoration: none;
}

.breadcrumb .active {
  color: #000 !important;
  font-weight: 400;
}

@media only screen and (min-width: 1200px) {
  .section-judul-detail {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/frontend/images/bg-detail.png) !important;
  }
}

@media only screen and (max-width: 1024px) {
  .section-judul-detail {
    background-color: #0D1B2B;
  }
}

.section-judul-detail img {
  -webkit-box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.section-judul-detail p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #E1E1E1;
}

.section-judul-detail h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 2px;
  /* #FFFFFF */
  color: #FFFFFF;
}

.section-judul-detail p.nama-penulis {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  /* #FFFFFF */
  color: #FFFFFF;
}

.section-judul-detail p.tanggal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #A5A5A5;
}

.section-detail-catatan p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */
  letter-spacing: 0.055em;
  color: #000000;
  text-align: justify;
}
/*# sourceMappingURL=main.css.map */